extends layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	h1#hello.dashboardH1 hello #{user.username}
	if error && error.length > 1
			div.alert.alert-danger.text-center.message= error
	if message && message.length > 1
			div.alert.alert-success.text-center.message= message
	if report && report.length > 0
			div.col-xs-12.text-center
				h1.dashboardH1 Detections:
			each item in report
				div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.detection
					strong IP Address
					li= item.ip
					strong Headers
					li
						pre= JSON.stringify(item.headers, null, 2)
					br
			form(action="/dashboard/deleteDetections", method="POST", onsubmit="return confirm('Are you sure you want to delete all current Detections?')").col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
				button(type="submit").col-xs-12.btn.btn-danger#deleteDetections Delete current Detections
	else
		div.col-xs-12.text-center
			h1.dashboardH1 No SSRF Detections found
			if user.domain == null
				h2 Please 
					a(href="/dashboard/registerDomain")
						register a domain to begin.
