extends layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	h1#hello hello #{user.username}
	if error && error.length > 1
			div.alert.alert-danger.text-center.message= error
	if message && message.length > 1
			div.alert.alert-success.text-center.message= message
	if report && report != null
			each item in report
				div.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
					strong IP Address
						li= item.ip
					strong Headers
						li= item.headers
					br
